html {
    height: 100%;
    background-color: orange;
}

body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: orange;
    font-family: "futura-pt", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif !important;
    position: relative;
    width: 100%;

    -webkit-tap-highlight-color: transparent;
}

body {
    user-select: none;
}

.trx-disabled,
.trx-disabled:hover {
    background-color: #d9d9d9!important;
    opacity: 0.75;
    cursor: not-allowed;
}

#tk-menu {
    background-color: white;
    display: block;
    border-radius: 5px;
    box-shadow: 5px 8px 0px #edc872;
}

#world {
    display: block;
    height: auto;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
    max-width: 400px;
}

#world p {
    margin: 0 0 20px;
}

#login {
    background-color: white;
    display: block;
    margin: 0px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 5px 8px 0px #edc872;
}

#login input.username {
    display: inline-block;
    position: absolute;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 10px;
    padding: 10px;
    color: gray;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
}

#login input.username:focus {
    color: black;
    border: none;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 2px blue;
}

#login select {
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    width: 95.5%;
}

#login a.play,
#login a.bronze,
#login a.silver,
#login a.gold,
#login a.platinum,
#login a.diamond {
    display: inline-block;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weigh: bold;
    text-align: center;
    font-size: 24px;
    background-color: #2cdb58;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px 10px;
}

#login a.play,
#login a.diamond {
    margin:10px;
}

#login a.play:hover {
    background-color: #24b348;
}

#login a.bronze {
    background-color: #aa8d24;
}

#login a.bronze:hover {
    background-color: #c9ae5d;
}

#login a.silver {
    background-color: #c0c0c0;
}

#login a.silver:hover {
    background-color: #8a959b;
}

#login a.gold {
    background-color: #ffd700;
}

#login a.gold:hover {
    background-color: #ffb400;
}

#login a.platinum {
    background-color: #e5e4e2;
}

#login a.platinum:hover {
    background-color: #beb9bd;
}

#login a.diamond {
    background-color: #b9f2ff;
}

#login a.diamond:hover  {
    background-color: #9ac5db;
}

#login a.ranking {
    display: inline-block;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weigh: bold;
    text-align: center;
    font-size: 24px;
    background-color: #fac739;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px 10px;
}

#login a.ranking:hover {
    display: inline-block;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weigh: bold;
    text-align: center;
    font-size: 24px;
    background-color: #dbb753;
    border-radius: 5px;
    text-decoration: none;
}

#login a.play,
#login a.ranking {
    display: none;
}

#login a.more {
    display: inline-block;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weigh: bold;
    text-align: center;
    font-size: 24px;
    background-color: #2cb2db;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    margin-top: -5px;
}

#login a.more:hover {
    background-color: #2493b5;
}

#howtoplay {
    margin-top: 4px;
    background-color: white;
    display: block;
    margin: 0px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 5px 8px 0px #edc872;
}

#howtoplay h1 {
    display: block;
    width: calc(100% - 20px);
    text-align: center;
    color: #404040;
    font-weight: normal;
    font-size: 24px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#howtoplay p {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #404040;
}

#gameover {
    background-color: white;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 5px 8px 0px #edc872;
    height: auto;
    overflow: hidden;
}

#gameover a.play {
    display: inline-block;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weigh: bold;
    text-align: center;
    font-size: 24px;
    background-color: #2cdb58;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}

#gameover a.play:hover {
    background-color: #24b348;
}

#gameover a.returntomenu {
    display: inline-block;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weigh: bold;
    text-align: center;
    font-size: 24px;
    background-color: #2cb2db;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    margin-top: -5px;
}

#gameover a.returntomenu:hover {
    background-color: #2493b5;
}

div#ranking {
    background-color: white;
    display: block;
    margin: 0px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 5px 8px 0px #edc872;
    position: relative;
}

a.ranking-return {
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 5px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: #2cb2db;
    border-radius: 5px;
}

a.ranking-return:hover {
    background-color: #2493b5;
}

table.ranking-table th {
    border-bottom: 1px solid gray;
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#application-canvas.fill-mode-NONE {
    margin: auto;
}

#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}

#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas:focus {
    outline: none;
}

body {
    background-color: #283538;
}

#application-splash-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #283538;
}

#application-splash {
    position: absolute;
    top: calc(50% - 240px);
    width: 480px;
    left: calc(50% - 240px);
}

#application-splash img {
    width: 100%;
}

#progress-bar-container {
    margin: 20px auto 0 auto;
    height: 2px;
    width: 100%;
    background-color: #1d292c;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #f60;
}

@media (max-width: 480px) {
    #application-splash {
        width: 170px;
        left: calc(50% - 85px);
    }
}
